html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
box-sizing: inherit;
}

a {
    text-decoration: none;
    transition: $transition-fast;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

h1 {
    margin: 0 0 .5rem;
}

input {
    font-size: 16px;
    font-family: $lato;
    font-weight: 300;
}

body {
    background: black;
    background-repeat: no-repeat;
    font-family: $lato;
    background-size: cover;
    height: 105%;
    margin: 0;
}

.outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85) 15%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 1) 90%);
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    position: relative;
}

.app-container {
    animation: fadein ease-out 1.4s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.logo {
    width: 100%;
    max-width: 60px;
    margin: 0 auto 25px;
    display: block;

    @include breakpoint($phone-medium) {
        display: inline-block;
        margin-bottom: 0;
    }

    svg {
        fill: $limeGreen;
    }
}
